name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env: 
  CARGO_TERM_COLOR: always

jobs:
  ci:
    name: Rust ${{ matrix.toolchain }}
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v5
      - name: Install libsodium-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libsodium-dev
      - name: Update toolchain
        run: |
          rustup update ${{ matrix.toolchain }}
          rustup default ${{ matrix.toolchain }}
          rustup component add rustfmt clippy
      - name: Check formatting
        run: cargo fmt --check
      - name: Check lints
        run: cargo clippy --all-features -- -D warnings
      - name: Build
        run: cargo build --all-features
      - name: Test
        run: cargo test --all-features
